.analysis {
    display: flex;
    width: 100%;

    .analysis-container {
        flex: 6;
        background-color: black;
        .table-div{
                width: 10%;
                padding: 2% 2% ;
                
                .table {
                    // margin-left: 10%;
                    // margin-top: 2%;
                    padding: 5%;
                    border: 1px solid #FAA61A;
                    border-radius: 5px;
                }
            }
        }
}

        // .img {
        //     margin: 20px;
        //     height: 350px;
        // }

        // .second-img {
        //     margin: 20px;
        //     height: 350px;
        //     border: 1px solid white;
        // }