.alert-table {
    display: flex;

    .table {
        background-color: rgb(32,32,32);

        .heading {
            font-weight: bold;
            font-size: 18px;
            color: rgb(145,145,145);
        }

        .content {
            color: rgb(145,145,145);
        }

        .icon-div {
            padding-top: 5px;
        }

        .icon {
            color: #26AAA5;
        }
    }
}