.userList {
    display: flex;

    .table {
        background-color: rgb(32,32,32);

        .heading {
            font-weight: bold;
            color: rgb(165, 165, 165);
        }

        .content {
            color: rgb(145,145,145);
        }
    }
}